# Virtual environment
venv/
.venv/

# Cache files
cache/
output/

# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.commandcode/
.vscode/
.idea/

# Temp
prompt.txt
image*.png

# PyInstaller
build/
dist/
*.spec
